/* ============================
   BASIC ARG SITE STYLE
   ============================ */

/* Global styles */
  body{
  background-color: #0a0a0a;   /* deep black background */
  color: #e0e0e0;              /* soft off-white text */
  font-family: 'Segoe UI', Tahoma, sans-serif;
  margin: 0;
  height: 100vh;

  /* Center all content in the middle */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Headings */
  h1{
  padding-top: 130px;
  margin: 0.5em 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
  a{
    text-decoration: none;
    color:#eee;
    font-size:30px;
}

  main {
  height: 100%;
  padding: 30px;
}
  .gray {
    font-style: italic;
    color: #B0B0B0;
    font-size:0.85em;
  }
}


/* Images */
img {
  max-width: 80%;
  cursor: default;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

/* Inputs (for password puzzles, etc.) */
input[type="text"], input[type="password"], button {
  transition: all 0.1;
  background-color: #222;
  color: #eee;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
}
/* Buttons and links */
  button:hover {
  background-color: #444;
  border-color: #000;
  transform: scale(1.15);
}
